@charset "utf-8";

header {
background-color: orange;
}
nav {
background-color: aquamarine;
}
article {
background-color: bisque;
}
aside {
background-color: lightskyblue;
}
footer {
background-color: lightpink;
}
section {
border: 1px solid gray;
background-color: antiquewhite;
}
ul {
list-style-type: none;
padding: 5px;
}
li {
padding-top: 2px;
}
#pszoveg {
color: plum;
}