@charset "utf-8";

body
main{
 display:grid;
 grid-template-areas:
     'h h h h h h'
     'n a a a a as'
     'n a a a a as'
     'f f f f f f';
 grid-column-gap: 15px;
 grid-row-gap: 15px;
 max-width: 58%;
 margin: auto;

     
}

header{
 grid-area:h;
 border: 1px solid gray;
 padding: 15px;
}
article{
   grid-area:a; 
   border: 1px solid gray;
   padding: 15px;
}
aside{
   grid-area:as; 
   border: 1px solid gray;
   padding: 15px;

}
footer
{
    grid-area:f;
    border: 1px solid gray;
    padding: 15px;
}
nav{
    grid-area:n;
    border: 1px solid gray;
    padding: 15px;
}